<header id="event-subscription">
  <div id="disclaimer">
    <img
      width="280"
      alt="TGT Logo"
      src="https://www.tgtdigital.io/assets/Logo-TGT.svg"
    />
    <p class="about-event mt-3">
      A tecnologia financeira avança a cada dia, acompanhe este desenvolvimento
    </p>
    <p>Faça parte disto</p>
    <p class="event-date">Cadastre-se para mais informações</p>
  </div>
  <div id="subscription-form">
    <p>Preencha o formulário para um atendimento personalizado</p>
    <form>
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          class="form-control"
          type="text"
          placeholder="Digite seu Nome"
          aria-label="default input example"
        />
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          class="form-control"
          type="text"
          placeholder="Digite seu e-mail"
          aria-label="default input example"
        />
      </div>
      <div class="form-group">
        <label for="phone">Telefone</label>
        <input
          class="form-control"
          type="text"
          placeholder="Número de WhatsApp"
          aria-label="default input example"
        />
      </div>
      <div class="form-group">
        <label for="interest">Tipo de atendimento</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Selecione</option>
          <option value="1">Pessoa Física</option>
          <option value="2">Pessoa Jurídica</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary btn-lg">
        Quero me Inscrever
      </button>
    </form>
  </div>
</header>

<section id="key-benefits">
  <h2>Principais Vantagens de um Open Bank</h2>
</section>

<div class="benefits">
  <div class="benefit">
    <div id="benefit-1" class="benefit-img"></div>
    <h5>Isenção de taxas</h5>
    <p>
      Os bancos digitais chegaram no mercado com uma característica em
      específico: não possuírem agências físicas. Por conta disso, estas
      instituições economizam de diversas formas como, por exemplo, com aluguel
      dos estabelecimentos, conta de luz, de água e salário para os
      funcionários.
    </p>
  </div>
  <div class="benefit">
    <div id="benefit-2" class="benefit-img"></div>
    <h5>Suporte Digitalizado</h5>
    <p>
      As pessoas não precisam mais ir em agências lotadas e esperar horas nas
      filas para tirar dúvidas sobre suas contas bancárias ou solicitar um
      serviço financeiro. Isto é, através de aplicativos e plataformas online é
      possível fazer estas ações.
    </p>
  </div>
  <div class="benefit">
    <div id="benefit-3" class="benefit-img"></div>
    <h5>Investimentos acessíveis</h5>
    <p>
      Para quem deseja começar a investir seu dinheiro ou já possui aplicações
      no mercado financeiro, os bancos digitais são uma ótima opção. Alguns
      deles possuem plataformas de investimentos muito completas.
    </p>
  </div>
</div>
<footer id="footer">
  <h3>TGT Digital</h3>
  <p>Gente é o que nos move e inovação é a nossa paixão</p>
  <p><span>Entre em contato: </span>ola@tgtdigital.com.br</p>
  <p><span>Ou pelo Telefone: </span>61 99999-9999</p>
</footer>
